<%= form_with(model: member_communicant) do |form| %>
  <% if member_communicant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_communicant.errors.count, "error") %> prohibited this member_communicant from being saved:</h2>

      <ul>
        <% member_communicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_field :zip_code %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :telephone, style: "display: block" %>
    <%= form.text_field :telephone %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.text_field :sex %>
  </div>

  <div>
    <%= form.label :nationality, style: "display: block" %>
    <%= form.text_field :nationality %>
  </div>

  <div>
    <%= form.label :naturality, style: "display: block" %>
    <%= form.text_field :naturality %>
  </div>

  <div>
    <%= form.label :uf, style: "display: block" %>
    <%= form.text_field :uf %>
  </div>

  <div>
    <%= form.label :scholarship, style: "display: block" %>
    <%= form.text_field :scholarship %>
  </div>

  <div>
    <%= form.label :father_name, style: "display: block" %>
    <%= form.text_field :father_name %>
  </div>

  <div>
    <%= form.label :mother_name, style: "display: block" %>
    <%= form.text_field :mother_name %>
  </div>

  <div>
    <%= form.label :book_number, style: "display: block" %>
    <%= form.number_field :book_number %>
  </div>

  <div>
    <%= form.label :record_number, style: "display: block" %>
    <%= form.number_field :record_number %>
  </div>

  <div>
    <%= form.label :reception_date, style: "display: block" %>
    <%= form.date_field :reception_date %>
  </div>

  <div>
    <%= form.label :minister_rev, style: "display: block" %>
    <%= form.text_field :minister_rev %>
  </div>

  <div>
    <%= form.label :observation, style: "display: block" %>
    <%= form.text_field :observation %>
  </div>

  <div>
    <%= form.label :profession, style: "display: block" %>
    <%= form.text_field :profession %>
  </div>

  <div>
    <%= form.label :marital_status, style: "display: block" %>
    <%= form.text_field :marital_status %>
  </div>

  <div>
    <%= form.label :marital_partner, style: "display: block" %>
    <%= form.text_field :marital_partner %>
  </div>

  <div>
    <%= form.label :partner_religious_confession, style: "display: block" %>
    <%= form.text_field :partner_religious_confession %>
  </div>

  <div>
    <%= form.label :admitted_by, style: "display: block" %>
    <%= form.text_field :admitted_by %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
