<div id="<%= dom_id member_communicant %>">
    <p>
        <strong>Name:</strong>
        <%= member_communicant.name %>
    </p>

    <p>
        <strong>Surname:</strong>
        <%= member_communicant.surname %>
    </p>

    <p>
        <strong>Book number:</strong>
        <%= member_communicant.book_number %>
    </p>

    <p>
        <strong>Record number:</strong>
        <%= member_communicant.record_number %>
    </p>

    <p>
        <strong>Reception date:</strong>
        <%= member_communicant.reception_date %>
    </p>

</div>