<div id="<%= dom_id member_communicant %>">
  <p>
    <strong>Name:</strong>
    <%= member_communicant.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= member_communicant.surname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= member_communicant.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= member_communicant.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= member_communicant.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= member_communicant.city %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= member_communicant.zip_code %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member_communicant.phone %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= member_communicant.telephone %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= member_communicant.birth_date %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= member_communicant.sex %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= member_communicant.nationality %>
  </p>

  <p>
    <strong>Naturality:</strong>
    <%= member_communicant.naturality %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= member_communicant.uf %>
  </p>

  <p>
    <strong>Scholarship:</strong>
    <%= member_communicant.scholarship %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= member_communicant.father_name %>
  </p>

  <p>
    <strong>Mother name:</strong>
    <%= member_communicant.mother_name %>
  </p>

  <p>
    <strong>Book number:</strong>
    <%= member_communicant.book_number %>
  </p>

  <p>
    <strong>Record number:</strong>
    <%= member_communicant.record_number %>
  </p>

  <p>
    <strong>Reception date:</strong>
    <%= member_communicant.reception_date %>
  </p>

  <p>
    <strong>Minister rev:</strong>
    <%= member_communicant.minister_rev %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= member_communicant.observation %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= member_communicant.profession %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= member_communicant.marital_status %>
  </p>

  <p>
    <strong>Marital partner:</strong>
    <%= member_communicant.marital_partner %>
  </p>

  <p>
    <strong>Partner religious confession:</strong>
    <%= member_communicant.partner_religious_confession %>
  </p>

  <p>
    <strong>Admitted by:</strong>
    <%= member_communicant.admitted_by %>
  </p>

</div>
