<p style="color: green"><%= notice %></p>

<%= render @member_communicant %>

<div>
  <%= link_to "Edit this member communicant", edit_member_communicant_path(@member_communicant) %> |
  <%= link_to "Back to member communicants", member_communicants_path %>

  <%= button_to "Destroy this member communicant", @member_communicant, method: :delete %>
</div>
