<div id="<%= dom_id communicant %>">
  <p>
    <strong>Profession:</strong>
    <%= communicant.profession %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= communicant.marital_status %>
  </p>

  <p>
    <strong>Marital partner:</strong>
    <%= communicant.marital_partner %>
  </p>

  <p>
    <strong>Partner religious confession:</strong>
    <%= communicant.partner_religious_confession %>
  </p>

  <p>
    <strong>Admitted by:</strong>
    <%= communicant.admitted_by %>
  </p>

</div>
